[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/mrtazz/molokai.vim
[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim
[submodule "bundle/haml"]
	path = bundle/haml
	url = https://github.com/tpope/vim-haml
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "bundle/scss"]
	path = bundle/scss
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
